{% extends "package/base.html" %}

{% block primary_content %}
  <div class="primary-content">
    <div class="page--content-wrapper">
      {% block form %}{{ c.form | safe }}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}  
  <div class="secondary-content">
     <div class="spotbox">
      <div class="spotbox--inner">
        <h2 class="spotbox--header"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
        <div class="spotbox-content">         
          {% trans %}
          Datasets are simply used to group related pieces of data. These
          can then be found under a single url with a description and
          licensing information.
          {% endtrans %}       
        </div>
      </div>
    </div>
  </div>   
{% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}

