{% extends "package/base.html" %}

{% block primary_content %}
  <div class="primary-content">
    <div class="page--content-wrapper">
      <ul class="dataset--tabs">
        {% block page_header_tabs %}
          {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
          {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
        {% endblock %}
      </ul>

      {% block primary_content_inner %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="secondary-content">
    {% if pkg.organization %}
      {% snippet 'snippets/organization.html', organization=pkg.organization %}
    {% endif %}

    {% snippet 'snippets/social.html' %}

    {% block package_license %}
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}
  </div>
{% endblock %}
