{% extends "package/base.html" %}

{% block primary_content %}
  <div class="primary-content">
    <div class="page--content-wrapper">
      <ul class="dataset--tabs">
        {% block page_header_tabs %}
          {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
          {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
        {% endblock %}
      </ul>
      
      {% block actions_content %}
        {# NOTE: Not implemented in stage 1 #}
        {# <li>{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn', icon='undo' %}</li> #}
        {% if h.check_access('package_update', {'id':pkg.id }) %}
          <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench' %}</li>
        {% endif %}
        <li>{{ h.follow_button('dataset', pkg.id) }}</li>
      {% endblock %}

      {% block primary_content_inner %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  <div class="secondary-content">
    {% if pkg.organization %}
      {% snippet 'snippets/organization.html', organization=pkg.organization %}
    {% endif %}

    {% snippet 'snippets/social.html' %}

    {% block package_license %}
      {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}
  </div>
{% endblock %}
