{%- block doctype %}<!DOCTYPE html>{% endblock -%}

{%- block htmltag -%}
{% set lang = h.lang() %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

  <head{% block headtag %}{% endblock %}>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {%- block title -%}
        {%- block subtitle %}{% endblock -%}
        {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
        {{ g.site_title }}
      {%- endblock -%}
    </title>
    <link type="text/css" rel="stylesheet" href="/sites/odaa.dk/themes/odaa/css/odaa.styles.css" media="all" />
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/sites/odaa.dk/themes/odaa/js/pure_min.js"></script>
    <script src="/sites/odaa.dk/themes/odaa/js/comment.js"></script>
    <!-- Load navigation region from Drupal that way we have the same navigation -->
    <script>
      (function($) {
        $.ajax({
          url: 'node/1?regions=navigation',
        }).done(function (data) {
          var menu = $('.odaa-main-menu');
          menu.before(data);
          menu.remove();
          $('.context-block-region').hide();
        }); 
      })(jQuery);
    </script>
  </head>

  <body class="left-sidebar" {% block bodytag %} data-site-root="{{ h.url('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url('/', qualified=true) }}" data-api-root="{{ g.api_url }}"{% endblock %}>

    {%- block page %}{% endblock -%}

     {%- block scripts %}{% endblock -%}
  </body>
</html>
