<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <nav class="footer-links row-fluid">
        {% block footer_nav %}
          <ul class="unstyled row-fluid">
            {% block footer_links %}
              <li><a href="/faq">{{ _('FAQ') }}</a></li>
              <li><a href="/contact">{{ _('Contact us') }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <div class="attribution attribution-first">      
        <a class="hide-text award-smart-city-footer-logo" href="http://www.itaward.dk/default.asp?Id=320&cpc=1">Nomineret Årets Smart City-pris 2013</a>
        <a class="hide-text made-with-aarhus-footer-logo" href="http://www.aarhus.dk/da/omkommunen/english.aspx">Made with Aarhus - Danish for progress</a>      
      </div>      
      <div class="attribution attribution-second">
        {% block footer_attribution %}
        {% trans %}<p><strong>Powered by</strong></p>{% endtrans %}
        <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
        <a href="http://drupal.org" class="hide-text drupal-footer-logo">Drupal</a>
        <div class="clearfix"></div>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
