{% extends "base.html" %}

{%- block page -%}

  <div id="page" class="page">
    <header class="site-header">
      <section class="header-wrapper">
        <div class="header-inner">
          <a href="/" class="logo"><img alt="" src="/sites/odaa.dk/themes/odaa/logo.png"></a>
          <div class="search-form">
            <form action="/dataset" method="get">
              <input type="text" name="q" placeholder="{{ _('Search for dataset') }}..." class="search-form-text" />
              <input type="submit" value="Søg" class="button" />
            </form>
          </div>
          <ul class="main-menu odaa-main-menu">
            <li><a href="/" class="menu-item"><span>Forsiden</span></a></li>
            <li><a href="/dataset" class="menu-item"><span>Datasæt</span></a></li>
          </ul>
        </div>
      </section>
    </header>
    <div class="content-wrapper">
      <div class="content-inner">
        {% block toolbar %}
          <div class="toolbar">
            {% block add_action %}
              {% if self.add_action_content() | trim %}
                <div class="add_action">
                  {% block add_action_content %}{% endblock %}
                </div>
              {% endif %}
            {% endblock %}
            {% block breadcrumb %}
              {% if self.breadcrumb_content() | trim %}
                <div class="breadcrumb">
                  {% snippet 'snippets/home_breadcrumb_item.html' %}
                  {% block breadcrumb_content %}{% endblock %}
                </div>
              {% endif %}
            {% endblock %}
          </div>
        {% endblock %}

        {% block content %}
          {% block primary_content %}{% endblock %}
          {% block secondary_content %}{% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block scripts %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
        {% resource 'base/tracking.js' %}
    {% endif %}
  {{ super() }}
{% endblock -%}