{% extends "base.html" %}

{%- block page -%}

  <div id="page" class="page">
    <header class="site-header">
      <section class="header-wrapper">
        <div class="header-inner">
          <a href="/" class="logo"><img alt="" src="/sites/odaa.dk/themes/odaa/logo.png"></a>
          <div class="search-form">
            <form action="/dataset" method="get">
              <input type="text" name="q" placeholder="Søg..." class="search-form-text" />
              <input type="submit" value="Søg" class="button" />
            </form>
          </div>
          <ul class="main-menu">
            <li><a href="#" class="menu-item"><span>Forsiden</span></a></li>
            <li><a href="#" class="menu-item"><span>Datasæt</span></a></li>
            <li><a href="#" class="menu-item"><span>Organisation</span></a></li>
            <li><a href="#" class="menu-item"><span>Grupper</span></a></li>
            <li><a href="#" class="menu-item"><span>App</span></a></li>
            <li><a href="#" class="menu-item active"><span>Om</span></a></li>
          </ul>
          <ul class="secondary-menu">
            <li><a href="#" class="menu-item"><span>Login</span></a></li>
            <li><a href="#" class="menu-item last"><span>Opret bruger</span></a></li>
          </ul>
        </div>
      </section>
    </header>
    <div class="content-wrapper">
      <div class="content-inner">
        {% block primary_content %}{% endblock %}
      </div>
    </div>
  </div>
{%- endblock -%}